*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 }
 .header{
      min-height: 100vh;
      width: 100%;
      background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(studios2.jpg)
      ;
      background-position: center;
      background-size: cover;
      position: relative;
 }
.header4{
     min-height: 100vh;
     width: 100%;
     background-image: url(redroommain\ \(2\).png);
     background-position: center;
     background-size: cover;
     position: relative;
}
 nav{
      display: flex;
      padding: 2% 6%;
      justify-content: space-between;
      align-items: center;
 }
 nav img{
      width: 190px;
 }
 .nav-links{
      flex: 1;
      text-align: right;
 }
 .nav-links ul li{
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
 }
 .nav-links ul li a {
      color: rgb(252, 228, 248);
      text-decoration: none;
      font-size: 13px;
 }
 .nav-links ul li::after{
      content: '';
      width: 0%;
      height: 2px;
      background: #df207fc9;
      display: block;
      margin: auto;
      transition: 0.3s;
 }
 .nav-links ul li:hover::after{
      width: 100%;
 }
 .textbox{
      width: 90%;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
 }
 .textbox h1{
      font-size: 62px;
 }
 .textbox p{
      margin: 10px 0 40px;
      font-size: 14px;
      color: #fff;
 }
 .hero-btn{
      display: inline-block;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      padding: 12px 34px;
      font-size: 13px;
      background: transparent;
      position: relative;
      cursor: pointer;
 }
 .hero-btn:hover{
      border: 1px solid #df207fc9;
      background: #d42e81c9;
      transition: 1s;
 }
 /*----- course -----*/
 
 .course{
      width: 80%;
      margin: auto;
      text-align: center;
      padding: 100px;
 }
 h1{
      font-size: 36px;
      font-weight: 600;
 }
 
 p{
      color: rgb(31, 29, 29);
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      padding: 10px;
 }
 .row{
      margin-top: 5%;
      display: flex;
      justify-content: space-between;
 }

.hero-btnnn{
     display: inline-block;
     text-decoration: none;
     color: rgb(255, 255, 255);
     border: 1px solid rgb(255, 1, 1);
     padding: 12px 34px;
     font-size: 13px;
     background: transparent;
     position: relative;
     cursor: pointer;
}
.hero-btnnn:hover{
     border: 1px solid #a10404c9;
     background: #b80404c9;
     transition: 1s;
}
.course-col{
    height: 300px;
     flex-basis: 31%;
     background: rgb(252, 228, 248);
     border-radius: 5%;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
     transition: 0.5s;
}



 .course-col2{
     height: 300px;
      flex-basis: 31%;
      background: rgb(252, 228, 228);
      border-radius: 5%;
      margin-bottom: 5%;
      padding: 20px 12px;
      box-sizing: border-box;
      transition: 0.5s;
 }
 h3{
      text-align: center;
      font-weight: 600;
      margin: 10px 0;
 
 }

.course-col:hover{
     box-shadow: 0 0 20px 0px #d42e81c9;
}
 .course-col2:hover{
      box-shadow: 0 0 20px 0px #e90e0ec9;
 }
.textbox{
     width: 90%;
     color: #d42e81c9 ;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
}
.header2{
     min-height: 25vh;
     width: 100%;
     background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(landscape.gif);
     background-position: center;
     background-size: cover;
     position: relative;
}
.teamfort{
    height: 600px;
     flex-basis: 31%;
     background: rgb(252, 228, 248);
     border-radius: 5%;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
     transition: 0.5s;
}
.teamfort:hover{
     box-shadow: 0 0 20px 0px  #d42e81c9;
}
.controller{
     min-height: 60vh;
     width: 100%;
     background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(robotcity.jpg);
     background-position: center;
     background-size: cover;
     position: relative;
}
.Redroompic2{
     min-height: 60vh;
     width: 100%;
     background-image:url(Youleftme.png);
     background-position: center;
     background-size: cover;
     position: relative;
}

.header3{
     min-height: 25vh;
     width: 100%;
     background-image: url(redroomsborder.png);
     background-position: center;
     background-size: cover;
     position: relative;
}
.header5{
     min-height: 25vh;
     width: 100%;
     background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(redroomsgamecover.png);
     background-position: center;
     background-size: cover;
     position: relative;
}

.col{
    width: 100%;
    margin: 2.5%;
    text-align: left;
}
.col-right {
    text-align: right;
}
.nav-linksred ul li::after{
     content: '';
     width: 0%;
     height: 2px;
     background: #f70202c9;
     display: block;
     margin: auto;
     transition: 0.3s;
}

.nav-linksred ul li:hover::after{
     width: 100%;
}

nav img{
     width: 190px;
}
.nav-linksred{
     flex: 1;
     text-align: right;
}
.nav-linksred ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
}