*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 }
 .header{
      min-height: 100vh;
      width: 100%;
      background-image:url(../img/RRMAIN.png);
      background-position: center;
      background-size: cover;
      position: relative;
 }
.header4{
     min-height: 100vh;
     width: 100%;
     background-image: url(../img/RRHALLWAY.png);
     background-position: center;
     background-size: cover;
     position: relative;
     text-align: center;
}
nav{
     background-color: rgb(27, 26, 26);
     position: center;
     top: 0;
     left: 0;
     width: 100%;
     color: #fff;
     text-align: center;
 
 }

 nav ul{
     list-style: none;
     margin: 0;
 }
 nav ul Li{
     display: inline-block;
     padding: 16px 40px;
     transition: 0.4s;
 }
 nav ul li:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
 } 
 .textbox{
      width: 90%;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
 }
 .textbox h1{
      font-size: 62px;
 }
 .textbox p{
      margin: 10px 0 40px;
      font-size: 14px;
      color: #fff;
 }
 .hero-btn{
      display: inline-block;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      padding: 12px 34px;
      font-size: 13px;
      background: transparent;
      position: relative;
      cursor: pointer;
 }
 .hero-btn:hover{
      border: 1px solid #d42e81c9;
      background: #d42e81c9;
      transition: 1s;
 }
 /*----- course -----*/
 
 .course{
      width: 80%;
      margin: auto;
      text-align: center;
      padding: 100px;
 }
 h1{
      font-size: 36px;
      font-weight: 600;
 }
 
 p{
      color: rgb(0, 0, 0);
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      padding: 10px;
 }
 .row{
      margin-top: 5%;
      display: flex;
      justify-content: space-between;
 }
.hero-btnnn:hover{
     border: 1px solid #a10404c9;
     background: #b80404c9;
     transition: 1s;
}
.course-col{
    height: 300px;
     flex-basis: 31%;
     background: rgb(255, 255, 255);
     border-radius: 5%;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
     transition: 0.5s;
}



 .course-col2{
     height: 300px;
      flex-basis: 31%;
      background: rgb(252, 228, 228);
      border-radius: 5%;
      margin-bottom: 5%;
      padding: 20px 12px;
      box-sizing: border-box;
      transition: 0.5s;
 }
 h3{
      text-align: center;
      font-weight: 600;
      margin: 10px 0;
 
 }

.course-col:hover{
     box-shadow: 0 0 20px 0px #d42e81c9;
}
 .course-col2:hover{
      box-shadow: 0 0 20px 0px #e90e0ec9;
 }
.textbox{
     width: 90%;
     color: #f30101c9;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
}
.header2{
     min-height: 25vh;
     width: 100%;
     background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/landscape.gif);
     background-position: center;
     background-size: cover;
     position: relative;
}
.teamfort{
    height: 600px;
     flex-basis: 31%;
     background: rgb(252, 228, 248);
     border-radius: 5%;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
     transition: 0.5s;
}
.teamfort:hover{
     box-shadow: 0 0 20px 0px  #d42e81c9;
}
.controller{
     min-height: 60vh;
     width: 100%;
     background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/robotcity.jpg);
     background-position: center;
     background-size: cover;
     position: relative;
}
.Redroompic2{
     min-height: 60vh;
     width: 100%;
     background-image:url(../img/longborderRR.png);
     background-position: center;
     background-size: cover;
     position: relative;
}

.header3{
     min-height: 30vh;
     width: 100%;
     background-image: url(../img/redroomsborderNEW.jpg);
     background-position: center;
     background-size: cover;
     position: relative;
}
.header5{
     min-height: 25vh;
     width: 100%;
     background-image: url(../img/redroomsgamecover.png);
     background-position: center;
     background-size: cover;
     position: relative;
}

.col{
    width: 100%;
    margin: 2.5%;
    text-align: left;
}
.col-right {
    text-align: right;
}
.nav-linksred ul li::after{
     content: '';
     width: 0%;
     height: 2px;
     background: #f70202c9;
     display: block;
     margin: auto;
     transition: 0.3s;
}

.nav-linksred ul li:hover::after{
     width: 100%;
}

nav img{
     width: 190px;
}
.nav-linksred{
     flex: 1;
     text-align: right;
}
.nav-linksred ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
}
.box {
     background-color: white;
     margin: 2.5%;
     padding: 2.5%;
     -webkit-box-shadow: -1px 6px 33px -6px rgba(0,0,0,0.75);
     -moz-box-shadow: -1px 6px 33px -6px rgba(0,0,0,0.75);
     box-shadow: -1px 6px 33px -6px rgba(0,0,0,0.75);
 }
.container{
    display: flex;

}
.col{

    width: 100%;
    margin: 2.5%;
}

.col img{
    max-width: 100%;
}
.videocen {
    text-align: center;
}
a{
    color: inherit;
}
.frameborder{
     color: red;
}
body{
     background-color: rgb(19, 18, 18);
}
center{
     text-align: center;
}
.controller{
     min-height: 80vh;
     width: 100%;
     background-image: url(../img/redroomsgamecovermain.jpg);
     background-position: center;
     background-size: cover;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
}
--- CONTACT CSS ---->
*{
     margin: 0;
     padding: 0;
 }    
 .header9{
     min-height: 120vh;
     width: 100%;
     background-image: url(../img/redspace.jpg);
     background-position: center;
     background-size: cover;
     position: relative;
 }

 .container{
     width: 80%;
     margin: 50px auto;
 }
 .contact-box{
     background-color: #fff;
     display: flex;
 }
 .contact-left{
     flex-basis: 60%;
     padding: 40px 60px;
 }
 .contact-right{
     flex-basis: 40%;
     padding: 40px;
     background: #420200;
     color: #fff;
 }
 h1{
     font-size: 30px;
     color: #fff;
     margin-bottom: 10px;
     margin-left: 100px;
 }
 p{
     color: #fff;
 }
 .container p{
     margin-bottom: 40px;
 }
 .input-row{
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
 }
 .input-row .input-group{
     flex-basis: 45%;
 }
 input{
     width: 100%;
     border: none;
     border-bottom: 1px solid #ccc;
     outline: none;
     padding-bottom: 5px;
 }
 textarea{
     width: 100%;
     border: 1px solid #ec0a0a;
     outline: none;
     padding: 10px;
     box-sizing: border-box;
 }
 label{
     margin-bottom: 6px;
     display: block;
     color: #bd1712;
 }
 button{
     background: #b91812;
     width: 100px;
     border: none;
     outline: none;
     color: #fff;
     height: 35px;
     border-radius: 30px;
     margin-top: 20px;
     box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
     text-align: center;
 }
 .contact-left h3{
     color: #8b100c;
     font-weight: 600;
     margin-bottom: 30px;
 }
 .contact-right h3{
     font-weight: 600;
     margin-bottom: 0px;
 }
 tr td:first-child{
     padding-right: 20px;
 }
 tr td{
     padding-top: 20px;
 
     width: 100%;
     margin: 2.5%;
     text-align: left;
 }
 .col-right {
     text-align: right;
 }
 b{
     color: black;
 }
 .vid{
     text-align: center;

 }
 .hello{
     position: fixed;
     height: auto;
     left: 0px;
     width: 150px;
     z-index: 5;
 }
.icon{
    position:absolute;
    height: auto;
    right: 10px;
    width: 40px;
    z-index: 5;
    padding-top: 10px;
}
.iconsearch{
     position:absolute;
     height: auto;
     right: 50px;
     width: 23px;
     z-index: 5;
     padding-top: 19px;
 }
 .background{
    min-height: 100vh;
    width: 100%;
    background-image:url(../img/Cyberpunkwallpaper.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.buttoncusto{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #4fe4dc;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
 
 }
 .hero-btnnn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #e00f0f;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
 
 }
.college{
    min-height: 55vh;
    width: 100%;
    background-image:url(../img/college.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.imageright{
    position: absolute;
    height: auto;
    right: 0px;
    width: 300px;
    z-index: 5;
    padding-top: 50px;
}
.bannercusto{
    min-height: 30vh;
    width: 100%;
    background-image:url(../img/newbannercusto.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.newimage{
    min-height: 60vh;
    width: 100%;
    background-image:url(../img/longrrpeople.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.middle{
    text-align: center;
}